<!-- centre/templates/students.html -->
{% extends 'base.html' %}

{% block content %}
<h1>INFORMACI&Oacute; ALUMNAT TIC BARCELONA</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Cognom</th>
        <th>Edat</th>
        <th>Rol</th>
        <th>Email</th>
        <th>Telefon</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
        <tr>
          <td><a href="{% url 'student' student.id %}">{{ student.id }}</a></td>
          <td>{{ student.nom }}</td>
          <td>{{ student.cognom }}</td>
          <td>{{ student.edat }}</td>
          <td>{{ student.rol }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.telefon }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}