<!-- centre/templates/students.html -->
{% extends 'base.html' %}

{% block content %}
<h1>INFORMACI&Oacute; ALUMNAT TIC BARCELONA</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>NOM</th>
            <th>COGNOM</th>
            <th>EDAT</th>
            <th>ROLL</th>
            <th>CURS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="{% url 'student' 1 %}">1</a></td>
            <td>Angel</td>
            <td>Ivanov</td>
            <td>38</td>
            <td>student</td>
            <td>DAW1, DAW2A</td>
        </tr>
        <tr>
            <td><a href="{% url 'student' 2 %}">2</a></td>
            <td>Ramon</td>
            <td>Garcia</td>
            <td>25</td>
            <td>student</td>
            <td>DAW2A</td>
        </tr>
        <tr>
            <td><a href="{% url 'student' 3 %}">3</a></td>
            <td>Laura</td>
            <td>Fernandez</td>
            <td>24</td>
            <td>student</td>
            <td>DAW2A</td>
        </tr>
    </tbody>
</table>
{% endblock %}