<!-- centre/templates/teachers.html -->
{% extends 'base.html' %}

{% block content %}
<h1>INFORMACI&Oacute; PROFESSORAT TIC BARCELONA</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Cognom</th>
        <th>Edat</th>
        <th>Rol</th>
        <th>Email</th>
        <th>Telefon</th>
      </tr>
    </thead>
    <tbody>
      {% for teacher in teachers %}
        <tr>
          <td><a href="{% url 'teacher' teacher.id %}">{{ teacher.id }}</a></td>
          <td>{{ teacher.nom }}</td>
          <td>{{ teacher.cognom }}</td>
          <td>{{ teacher.edat }}</td>
          <td>{{ teacher.rol }}</td>
          <td>{{ teacher.email }}</td>
          <td>{{ teacher.telefon }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}